.card-tilt {
    background-color: aqua;
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* PARALLAX EFFECT CONTAINER */
    transform-style: preserve-3d;
}

.inner-element {
    height: 100px;
    width: 100px;
    background-color: red;

    /* PARALLAX EFFECT ITEM */
    transform: translateZ(60px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 50%;
    width: 28%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--bg2);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    cursor: pointer;
    transition: 0.5s; /* Any property change will transition */
}

.card-image {
    height: 80%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../assets/2.PNG');
    background-size: cover;
    background-position: center top;
}

.card-text {
    padding: 0.5rem;
    color: var(--sec);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-text h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text p {
    font-size: 0.9rem;
}