.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: var(--bg1);
    border-bottom: 1px solid var(--bg2);
}

.title {
    display: flex;
    padding: 0 0.6rem;
    font-size: 1.7rem;
    white-space: nowrap;
}

.typewriter {
    padding: 0 0.5rem;
    overflow: hidden;
    animation: typing 4s;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 35vw;
    height: 100%;
}

.navbar-button, .navbar-button-active, .navbar-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--sec);
    transition: 0.2s;
}

.navbar-button-active {
    color: var(--active);
}

.navbar-button:hover, .navbar-button-active:hover {
    background-color: var(--bg2);
}

.navbar-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-controls button {
    height: 1.5rem;
    width: 1.5rem;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.navbar-theme-light {
    background-image: url(moon.svg);    
    background-size: cover;
}

.navbar-theme-dark {
    background-image: url(sun-dim.svg);    
    background-size: cover;
}

/* .navbar-lang {

} */

