:root {
  /**** COLORS ****/
  --pri: #1F2667;
  --sec: #ffffffde;
  --ter: #474747;
  --alt: #9ab9a6;
  --bg: #242424;

  /**** FONT ****/
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--sec);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /**** BACKGROUND ****/
  background-color: var(--bg);
  background-image: radial-gradient(var(--ter) 1px, transparent 1px);
  background-size: 35px 35px;
  animation: bg-beams 25s ease infinite alternate;
  -webkit-animation: bg-beams 25s ease infinite alternate;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: red;
}

/* @keyframes bg-beams {
  0% {
    background-image: linear-gradient(135deg, transparent, transparent);
    background-size: 400%;
    background-position: 0% 0%;
  }
  100% {
    background-image: linear-gradient(135deg, transparent, transparent);
    background-size: 400%;
    background-position: 100% 100%;
  }
} */

/* @-webkit-keyframes bg-beams {
} */

