*, *::before, *::after {
  
  /**** BOX MODEL ****/
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /**** GENERIC TEXT ****/
  text-decoration: none;
  font-weight: normal;
}

body {
  /* Default theme: Dark mode */
  /* Toggle theme: Light mode */
  /**** COLORS ****/
  --pri: #8d35ff;
  --sec: #ffffffcb;
  --alt: #9ab9a6;
  --active: #e0ff32;
  --bg1: #161d26;
  --bg2: #333842;
  
  /**** GENERIC FONT ****/
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--sec);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: medium; /* medium = 16px */
  
  /**** BACKGROUND COLOR ****/
  background-color: var(--bg1);
  
  /**** BACKGROUND DOTS ****/
  background-image: radial-gradient(var(--bg2) 1px, transparent 1px);
  background-size: 35px 35px;
}


/* Default theme: Dark mode */
/* Toggle theme: Light mode */
.light-mode {
  --pri: #8d35ff;
  --sec: #000000cb;
  --alt: #9ab9a6;
  --active: #ff1161;
  --bg1: #ccc7bd;
  --bg2: #9c978a;
}
