.alert-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-text {
    font-size: 1rem;
    font-weight: bold;
}

.icon-static, .icon-shadow {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--active);
    border: none;
}

.icon-static {
    position: relative;
    left: 0.25rem; /* half its size in px */
}

.icon-shadow {
    position: relative;
    left: -0.25rem; /* half its size in px */
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

