.main {
    margin: 0 auto;
    height: calc(100vh - 60px);
    width: 70vw;
    /* background-color: red; */
}

.upper-main {
    height: 30%;
    width: 100%;
    /* background-color: blue; */
}

.lower-main {
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    /* background-color: brown; */
}

/* .carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
} */