.main {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #a0a0ff; */
}

.upper-main {
    height: 40%;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #788151; */
}

.lower-main {
    height: 60%;
    width: 80vw;
    display: flex;
    align-items: flex-start;
    /* background-color: #518163; */
}

.projects-frame {
    width: 100%;
}

.carousel-frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: blue; */
}

.cards-frame {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* overflow-x: hidden; */
    /* background-color: #ffa0e2; */
}

.arrow {
    all: unset;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text);
    cursor: pointer;
    /* background-color: #823a94; */
}

.arrow:hover {
    color: var(--textHover);
}

.card-button {
    all: unset;
}

/*** MAIN CARD ***/
.main-card {
    padding: 1.2rem;
    gap: 1.2rem;
    display: flex;
    width: 60%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--bg2);
    border-radius: 0.6rem;
    backdrop-filter: blur(1px);
}

/**** GENERIC TEXT ****/
.paragraph {
    font-size: 1.2rem;
}

.paragraph b {
    font-weight: bold;
    color: var(--textHover);
}

/**** COPY TEXT BUTTON ****/
.icon {
    font-size: 1rem;
}

.copy-button {
    cursor: pointer;
    transition: 0.2s;
    color: var(--text);
}

.copy-button:hover {
    color: var(--textHover);
}

.copy-alert {
    padding-left: 0.3rem;
    position: absolute;
    color: var(--active);
}

/**** PULSING TITLE ****/
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.alert-icon, .alert-shadow {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--active);
    border: none;
}

.alert-icon {
    position: relative;
    left: 0.25rem; /* half its size */
}

.alert-shadow {
    position: relative;
    left: -0.25rem; /* half its size */
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}